<ul class="navbar-nav flex-row gap-3 fw-bold">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <li class="nav-item d-flex align-items-center gap-2">
            <i class="bi bi-person-fill text-white-50"></i>
            <span class="nav-link">@User.Identity.Name</span>
        </li>
        <li class="nav-item d-flex align-items-center gap-2">
            <i class="bi bi-box-arrow-in-right text-white-50"></i>
            <a class="nav-link" asp-area="" asp-controller="Autenticacao" asp-action="Sair">Sair</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Autenticacao" asp-action="Login">Entrar</a>
        </li>
    }
</ul>