@model FinancasPessoais.Web.ViewModels.DespesaFonteViewModel
@{
    ViewData["Title"] = "Criar nova fonte de despesa";
}
<div class="p-3 p-md-5">
    <form asp-action="Criacao" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-stretch align-items-md-center mb-3 gap-2">
            <h1 class="fs-3 text-secondary m-0"><i class="bi bi-file-earmark-plus"></i> @ViewData["Title"]</h1>
            <div class="align-self-end align-self-md-center mt-2">
                <button type="submit" class="btn btn-primary fw-bold shadow-sm"><i class="bi bi-floppy-fill me-2"></i>Criar</button>
                <a class="btn btn-secondary fw-bold shadow-sm" asp-action="Index"><i class="bi bi-arrow-left-square me-2"></i>Voltar</a>
            </div>
        </div>
        <hr/>
        <div class="mb-3">
            <label asp-for="NMDespesaFonte" class="form-label fw-semibold text-secondary mb-1"></label>
            <input asp-for="NMDespesaFonte" class="form-control border-2 shadow-sm" placeholder="Insira nome da fonte de despesa" required autofocus/>
            <span asp-validation-for="NMDespesaFonte" class="text-danger small fw-semibold"></span>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}