@model FinancasPessoais.Web.ViewModels.IndexadorViewModel
@{
    ViewData["Title"] = "Atualizar indexador";
}
<div class="p-3 p-md-5">
    <form asp-action="Atualizacao" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="IDIndexadorCriptografado"/>
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-stretch align-items-md-center mb-3 gap-2">
            <h1 class="fs-3 text-secondary m-0"><i class="bi bi-pencil-square"></i> @ViewData["Title"]</h1>
            <div class="align-self-end align-self-md-center mt-2">
                <button type="submit" class="btn btn-primary fw-bold shadow-sm"><i class="bi bi-floppy-fill me-2"></i>Atualizar</button>
                <a class="btn btn-secondary fw-bold shadow-sm" asp-action="Index"><i class="bi bi-arrow-left-square me-2"></i>Voltar</a>
            </div>
        </div>
        <hr/>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger py-2 shadow-sm rounded-3" role="alert">
                <div asp-validation-summary="ModelOnly" class="small text-danger fw-semibold m-0"></div>
            </div>
        }
        <div class="mb-3">
            <label asp-for="NMIndexador" class="form-label fw-semibold text-secondary mb-1"></label>
            <input asp-for="NMIndexador" class="form-control border-2 shadow-sm" placeholder="Insira nome do indexador" required autofocus/>
            <span asp-validation-for="NMIndexador" class="text-danger small fw-semibold"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SGIndexador" class="form-label fw-semibold text-secondary mb-1"></label>
            <input asp-for="SGIndexador" class="form-control border-2 shadow-sm" placeholder="Insira sigla do indexador" required/>
            <span asp-validation-for="SGIndexador" class="text-danger small fw-semibold"></span>
        </div>
        <div class="mb-3">
            <label asp-for="IDIndiceFinanceiro" class="form-label fw-semibold text-secondary mb-1"></label>
            <select asp-for="IDIndiceFinanceiro" class="form-select border-2 shadow-sm" asp-items="@((SelectList) ViewData["Indices"]!)" required></select>
            <span asp-validation-for="IDIndiceFinanceiro" class="text-danger small fw-semibold"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PCIndiceFinanceiro" class="form-label fw-semibold text-secondary mb-1"></label>
            <input asp-for="PCIndiceFinanceiro" type="number" class="form-control border-2 shadow-sm" placeholder="Insira a porcentagem do índice que o indexador terá" required data-val-number="O campo deve ter um número válido"/>
            <span asp-validation-for="PCIndiceFinanceiro" class="text-danger small fw-semibold"></span>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}